SKIL_HOME=/opt/skil
SKIL_CLASS_PATH=/opt/skil/lib/*:/opt/skil/native/*:/opt/skil/jackson-2.5.1/*:/etc/skil/*
SKIL_LOG_DIR=/var/log/skil
SKIL_PID_FILE=/run/skil/skil.pid

SKIL_BACKEND=cpu
SKIL_LICENSE_PATH=/etc/skil/license.txt
SKIL_PUBLIC_KEY_PATH=/etc/skil/publickey.txt

JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk
JDK_HOME=$JAVA_HOME

SKIL_SERVER_PROD_MODE=true

ZOOKEEPER_HOST=localhost
ZOOKEEPER_EMBEDDED=true